@-moz-document domain("boards.4chan.org") {

#removestyle {
  position: fixed;
  top: 4rem;
  right: 4rem;
  padding: 1em;
}

/*
  In order, we hide:
    - mobile-only elements
    - horizontal lines, except for the unread line
    - old board navigation
    - posting mode: reply
    - board title and text boards
    - quick links [return] [catalog]
    - original post form
    - advertisements
    - post deleter and style picker
    - copyright footer
    - checkboxes for posts (use the menu)
*/

/*
  NOTE: there are some stuff 4chan X hides, we'd hide that here too
*/

.mobile,
hr:not(#unread-line),
#boardNavDesktop, #boardNavDesktopFoot,
.postingMode,
.boardBanner,
.navLinks,
#postForm,
.center, .ad-plea,
.bottomCtrl,
#absbot,
.postInfo > input[value=delete] {
  display: none;
}

/*
  http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

*,
::before,
::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/*
  https://github.com/h5bp/html5-boilerplate/commit/1d320b59a390041f25cf87d790f6472a25a512ef
*/

::-moz-selection {
  background: #b3d4fc;
}

::selection {
  background: #b3d4fc;
}

/*
  Now, normally you redefine the :focus style. I'm not.
  !important needed because Stylish.
*/

:focus {
  outline: 0 !important;
}

html {
  font: 1em/1.5 sans-serif;
  color: #3d3d3d;
  background-color: #fafafa;
  overflow-y: scroll;
  /*
  word-break: break-all;
  word-wrap: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  */
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/*
  !important needed because Stylish.
*/

a {
  color: #1e90ff !important;
  text-decoration: none !important;
}

/*
  Normalise font-weight across browsers and
  ensure the right weight is chosen, not a
  faux-bold which looks icky.
*/

b,
strong,
.name,
.subject,
.current {
  font-weight: 700;
}

/*
  Remove default margin on blockquotes.
*/

blockquote {
  margin: .5em 0 0 .5em;
}

/*
  Correct font family set oddly in Chrome,
  and set tripcodes to a monospace font
  while we're at it.
*/

pre,
.postertrip {
  font-family: monospace;
  font-size: 1em;
}

/*
  [code] code tags for /g/ and others [/code].
  Also improve readability of pre-formatted
  text in all browsers.
*/

pre {
  /*
  color: #fafafa;
  background-color: #3d3d3d;
  padding: .5em;
  border: 1px solid #2d2d2d;
  margin: 0;
  */
  display: inline-block;
  white-space: pre-wrap;
  /*
  word-break: break-all;
  word-wrap: break-word;
  */
}

/*
  Since we block the default 4chan styles,
  we then need to style the prettyprint! So,
  this one is pretty cool. Feel free to pick
  another style from the site and replace this
  section to suit your preference.
  
  I chose Tomorrow Night Eighties;
  http://jmblog.github.io/color-themes-for-google-code-prettify/
*/

.prettyprint .str { color: #9c9; }
.prettyprint .com { color: #999; }
.prettyprint .atv { color: #6cc; }
.prettyprint .typ,
.prettyprint .fun { color: #69c; }
.prettyprint .kwd { color: #c9c; }
.prettyprint .lit,
.prettyprint .atn,
.prettyprint .dec { color: #f99157; }
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo { color: #ccc; }
.prettyprint .tag,
.prettyprint .var { color: #f2777a; }

/*
  Remove the gap between images and the
  bottom of their containers: h5bp.com/i/440
*/

img {
  vertical-align: middle;
}

/*
  Correct font-family, font-size and colour
  inheritance, and remove different margins.
  !important for 4 of themm, because Stylish.
*/

button,
input,
select,
textarea {
  font-family: inherit !important;
  font-size: 100% !important;
  color: inherit !important;
  line-height: inherit !important;
  margin: 0;
}

/*
  Firefox messes with the line-height apparently.
  !important because Stylish.
  (this fix included in the CSS above)
*/
/*
button,
input {
  line-height: normal !important;
}
*/

/*
  Improve usability and consistency for buttons.
*/

button,
html input[type=button],
html input[type=submit] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

/*
  Remove inner padding and border in Firefox.
*/

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
  Improve readability and alignment, along with
  vertical resizing only.
*/

textarea {
  vertical-align: top;
  resize: vertical;
}

/*
  Here, we clearfix posts to prevent collapsing.
  http://nicolasgallagher.com/micro-clearfix-hack/
*/

/*
::after {
  content: '';
  display: table;
  clear: both;
}
*/

.postContainer::after {
  content: '';
  display: table;
  clear: both;
}

.board {
  max-width: 960px;
  margin: auto;
  position: relative;
}

.thread {
  position: relative;
}

.postContainer {
  background-color: #fafafa;
  padding: .75em 1.5em;
  position: relative;
}

.summary,
.menu-button,
.hide-thread-button,
.hide-reply-button {
  position: absolute;
  right: 0;
  z-index: 2;
}

.fileThumb {
  float: left;
  margin: .5em .5em .5em 0;
}

.fileInfo,
.abbr,
.dateTime {
  color: #999;
}

.quote {
  color: olive;
}

/*
  4chan X Specific CSS
*/

.field {
  color: #696969;
  border: 1px solid #ababab;
  padding: .1em;
}

.field:hover,
.field:focus {
  color: #3d3d3d;
  border-color: #999;
}

.field::-moz-placeholder,
.field:hover::-moz-placeholder {
    color: #ababab;
}

/*#sidebar-toggle {
  content: '';
  position: fixed;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
  cursor: pointer;
  transition: all .4s;
}*/
#sidebar-toggle {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  content: '';
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: .25rem;
  border-top: .75rem double #3d3d3d;
  border-bottom: .25rem solid #3d3d3d;
  cursor: pointer;
}

#sidebar {
  width: 400px;
  position: fixed;
  height: 100%;
  background-color: #1b1f41;
  top: 0;
  right: 0;
  transform: translateX(400px);
  transition: transform .25s;
  overflow-y: scroll;
}

.sidebar-active:root #sidebar {
  transform: translateX(0);
}

#delform {
  margin-right: 0;
  transition: margin .25s;
}

.sidebar-active:root #delform {
  margin-right: 400px;
}

#header {
  font-size: 0;
  color: transparent;
}

#shortcuts { display: none /* for now */ }

#header a {
  font-size: 1rem !important;
  color: #d8e8f0 !important;
  display: block;
  text-align: center;
  padding: .5em 0;
  border-bottom: 1px solid rgba(0,0,0,.25);
  background: none;
  transition: all .25s;
}

#header a:hover {
  background: #0a1040;
}




















}
